body{
  height: 700px;
  width: 100%;
  border: 2px solid;
  background:linear-gradient(aqua,blue,cyan)
}
.daba{
  height: 250px;
  width: 1000px;
  border: 2px solid;
  border-radius: 100px ;
  text-align: center;
  margin: 20px;
  justify-content: space-between;

}
button{
  height: 60px;
  width: 300px;
  text-align: center;
  margin:60px;
  border-radius: 100px;
}
.first{
  text-align: center;
  
}
.second{
display: flex;
justify-content: center;
margin: 50px;
text-align: center;
padding: 5px;
}
.third{
display: flex;
text-align: center;
}